<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/ENT/ENT-PROJECT"><classes><class name="Base.Baseconstructor"><methods><include name="Run"/></methods></class><class name="Login.LoginThroughNewBaseMethod"><methods><include name="MethodLoginPage"/></methods></class></classes></test></suite>